In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('Training_Data.csv')
test=pd.read_csv('Testing_Data.csv')
test_copy=test.copy()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 6 columns):
Unnamed: 0                     576 non-null int64
Months since Last Donation     576 non-null int64
Number of Donations            576 non-null int64
Total Volume Donated (c.c.)    576 non-null int64
Months since First Donation    576 non-null int64
Made Donation in March 2007    576 non-null int64
dtypes: int64(6)
memory usage: 27.1 KB

In [4]:
df.describe()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
count,576.000000,576.000000,576.000000,576.000000,576.000000,576.000000
mean,374.034722,9.439236,5.427083,1356.770833,34.050347,0.239583
std,216.947773,8.175454,5.740010,1435.002556,24.227672,0.427200
min,0.000000,0.000000,1.000000,250.000000,2.000000,0.000000
25%,183.750000,2.000000,2.000000,500.000000,16.000000,0.000000
50%,375.500000,7.000000,4.000000,1000.000000,28.000000,0.000000
75%,562.500000,14.000000,7.000000,1750.000000,49.250000,0.000000
max,747.000000,74.000000,50.000000,12500.000000,98.000000,1.000000

In [5]:
df.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [6]:
df.corr()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
Unnamed: 0,1.000000,-0.023217,0.063148,0.063148,0.098370,0.041925
Months since Last Donation,-0.023217,1.000000,-0.159731,-0.159731,0.186899,-0.261234
Number of Donations,0.063148,-0.159731,1.000000,1.000000,0.622116,0.220615
Total Volume Donated (c.c.),0.063148,-0.159731,1.000000,1.000000,0.622116,0.220615
Months since First Donation,0.098370,0.186899,0.622116,0.622116,1.000000,-0.019819
Made Donation in March 2007,0.041925,-0.261234,0.220615,0.220615,-0.019819,1.000000

In [7]:
#from the above tables, we can say that the 'No of donations and total volume donated' are 
#correlated because 1 donation =250 c.c. unit of blood according to the above calculation.

df=df.drop('Total Volume Donated (c.c.)',axis=1)
test=test.drop('Total Volume Donated (c.c.)',axis=1)

In [8]:
#There is not much change in the accuracies. Lets do feature engineering

df=df.drop('Unnamed: 0',axis=1)
test=test.drop('Unnamed: 0',axis=1)

df['First-Last Donation months']=df['Months since First Donation']-df['Months since Last Donation']
test['First-Last Donation months']=test['Months since First Donation']-test['Months since Last Donation']

#df=df.drop('First-Last Donation months',axis=1)
#test=test.drop('First-Last Donation months',axis=1)

#df['First-Last Donation months']=np.log(df['First-Last Donation months'])
#test['First-Last Donation months']=np.log(test['First-Last Donation months'])

#df=df.drop('First-Last Donation months',axis=1)
#test=test.drop('First-Last Donation months',axis=1)

#df.head(500)

In [9]:
# Let's clean the data. Check if there is an outlier or dirty data
df.apply(lambda x: sum(x.isnull()), axis=0)

Months since Last Donation     0
Number of Donations            0
Months since First Donation    0
Made Donation in March 2007    0
First-Last Donation months     0
dtype: int64

In [10]:
test.apply(lambda x: sum(x.isnull()), axis=0)

Months since Last Donation     0
Number of Donations            0
Months since First Donation    0
First-Last Donation months     0
dtype: int64

In [11]:
# pick a subsample of the non-donating group which is the same size as the donating group
#sample_size = sum(df['Made Donation in March 2007'] == 1) 
# get the indices for the non-donating group and take a random sub sample
#indices_all0 = df[df['Made Donation in March 2007'] == 0].index
#random_indices = np.random.choice(indices_all0, sample_size, replace=False)
#sample_0 = df.loc[random_indices]
# rework the training set
#df = df[df['Made Donation in March 2007'] == 1]
#df = df.append(sample_0)

In [12]:
#df[['Unnamed: 0','Made Donation in March 2007']].groupby('Made Donation in March 2007').count()

In [13]:
from sklearn.cross_validation import train_test_split
from sklearn.svm import LinearSVC
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import log_loss

C:\Users\Ankur\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\Users\Ankur\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [14]:
features=df.drop('Made Donation in March 2007',axis=1)
target=df['Made Donation in March 2007']

X_train, X_val, y_train, y_val = train_test_split(features, target, train_size=0.8)

In [15]:
#Let's apply machine learning algorithm to predict the target label

def GradientBoostingClassifier_random_forest_model(X_train, X_val, y_train, y_val):
    if __name__ == '__main__':
        
        rf = RandomForestClassifier(criterion='gini',
                                n_estimators=500,
                                max_features='auto',
                                oob_score=True,
                                random_state=1,
                                n_jobs=-1)

        
        param_grid = {"min_samples_split" : [6,7,8],
             "n_estimators" : [500,700,1000]}

        estimator = GridSearchCV(estimator=rf,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=2,
                  n_jobs=-1)

        
        estimator.fit(X_train, y_train)
        predict=estimator.predict_proba(X_val)

        best_params = estimator.best_params_
                                 
        validation_accuracy = log_loss(y_val, predict)
        print('Validation accuracy: ', validation_accuracy)
        print(best_params)

In [16]:
GradientBoostingClassifier_random_forest_model(X_train, X_val, y_train, y_val)

Validation accuracy:  0.579432828410243
{'min_samples_split': 7, 'n_estimators': 700}

In [17]:
def GradientBoostingClassifier_logistic_regression_model(X_train, X_val, y_train, y_val):
    if __name__ == '__main__':
        
        lr = LogisticRegression(penalty='l2',C=0.00001,n_jobs=-1)

        
        param_grid = {'C':[0.1,0.01,0.001,0.0001,0.00001,1.0,10.0,100.0]}

        estimator = GridSearchCV(estimator=lr,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=2,
                  n_jobs=-1)

        
        estimator.fit(X_train, y_train)
        predict=estimator.predict_proba(X_val)
        
        best_params = estimator.best_params_
                                 
        validation_accuracy = log_loss(y_val, predict)
        print('Validation accuracy: ', validation_accuracy)
        print(best_params)

In [18]:
GradientBoostingClassifier_logistic_regression_model(X_train, X_val, y_train, y_val)

Validation accuracy:  0.47542841622815
{'C': 0.1}

C:\Users\Ankur\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:1228: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = -1.
  " = {}.".format(self.n_jobs))

In [19]:
test_id = pd.DataFrame
test_id=test_copy['Unnamed: 0']

In [20]:
def model_for_submission(features, target, test):
    if __name__ == '__main__':
        
        lr = LogisticRegression()

        
        param_grid = {'C':[0.1]}

        estimator = GridSearchCV(estimator=lr,
                  param_grid=param_grid,
                  scoring='accuracy',
                  cv=2,
                  n_jobs=-1)

        estimator.fit(features, target)  
        
        predictions = estimator.predict_proba(test)
        #predictions=predictions.astype(float)
        
        extracting_proability=predictions[:,1]
        
        data = {'': test_id, 'Made Donation in March 2007': extracting_proability}

        submit = pd.DataFrame(data=data) 
    
        submit.to_csv('Submission_file.csv', index=False)

In [21]:
# Run model for submission.
model_for_submission(features, target, test)